Code\ Cache/
Cookies
Cookies-journal
Dictionaries/
GPUCache/
Local Storage/
Network Persistent State
Preferences
Session Storage/
prefs.json
SS
SingletonCookie
SingletonLock
VideoDecodeStats/
shared_proto_db/
lockfile
